# dependencies
node_modules/
apps/web/node_modules/
services/api/node_modules/

# production build outputs
dist/
apps/web/dist/

# environment variables
.env
.env.*
*.env
!.env.example
!apps/web/.env.example
!services/api/.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
